<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="shortcut icon"
      href="{% static 'adminstatic/img/fav.png' %}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://kit-pro.fontawesome.com/releases/v5.12.1/css/pro.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'adminstatic/css/style.css' %}"
    />
    <title>Welcome To Suchitwa Mission</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-gray-100">
    <!-- Start navbar -->
    <div
      class="md:fixed md:w-full md:top-0 md:z-20 flex flex-row flex-wrap items-center bg-white p-6 border-b border-gray-300"
    >
      <!-- Logo -->
      <div class="flex-none w-56 flex flex-row items-center">
        <strong class="capitalize ml-1 flex-1">Welcome </strong>
      </div>
      <!-- End Logo -->

      <!-- Navbar content toggle -->
      <button id="navbarToggle" class="hidden md:block md:fixed right-0 mr-6">
        <i class="fad fa-chevron-double-down"></i>
      </button>
      <!-- End Navbar content toggle -->

      <!-- Navbar content -->
      <div
        id="navbar"
        class="animated md:hidden md:fixed md:top-0 md:w-full md:left-0 md:mt-16 md:border-t md:border-b md:border-gray-200 md:p-10 md:bg-white flex-1 pl-3 flex flex-row flex-wrap justify-between items-center md:flex-col md:items-center"
      >
        <!-- Left -->
        <div
          class="text-gray-600 md:w-full md:flex md:flex-row md:justify-evenly md:pb-10 md:mb-10 md:border-b md:border-gray-200"
        ></div>
        <!-- End Left -->

        <!-- Right -->
        <div class="flex flex-row-reverse items-center">
          <!-- User Dropdown -->
          <div class="dropdown relative md:static">
            <button
              class="menu-btn focus:outline-none focus:shadow-outline flex flex-wrap items-center"
            >
              <div class="w-8 h-8 overflow-hidden rounded-full">
                <img
                  class="w-full h-full object-cover"
                  src="{{ user.0.image.url }}"
                />
              </div>
              <div class="ml-2 capitalize flex">
                <h1
                  class="text-sm text-gray-800 font-semibold m-0 p-0 leading-none"
                >
                  {{ user.0.name }}
                </h1>
                <i class="fad fa-chevron-down ml-2 text-xs leading-none"></i>
              </div>
            </button>
            <button
              class="hidden fixed top-0 left-0 z-10 w-full h-full menu-overflow"
            ></button>
            <div
              class="text-gray-500 menu hidden md:mt-10 md:w-full rounded bg-white shadow-md absolute z-20 right-0 w-40 mt-5 py-2 animated faster"
              >
              <!-- User Profile -->
              <a
                style="text-decoration: none"
                class="px-4 text-black py-2 block capitalize font-medium text-sm tracking-wide bg-white hover:bg-gray-200 hover:text-gray-900 transition-all duration-300 ease-in-out"
                href="update_profile"
              >
                <i class="fad fa-user-edit text-xs mr-1"></i>
                Edit profile
              </a>
              <!-- End User Profile -->

              <!-- User Inbox -->
              <!-- <a
                style="text-decoration: none"
                class="text-black px-4 py-2 block capitalize font-medium text-sm tracking-wide bg-white hover:bg-gray-200 hover:text-gray-900 transition-all duration-300 ease-in-out"
                href="#"
              >
                <i class="fad fa-inbox-in text-xs mr-1"></i>
                My inbox
              </a> -->
              <!-- End User Inbox -->

              <!-- User Tasks -->
              <!-- <a
                style="text-decoration: none"
                class="px-4 text-black py-2 block capitalize font-medium text-sm tracking-wide bg-white hover:bg-gray-200 hover:text-gray-900 transition-all duration-300 ease-in-out"
                href="#"
              >
                <i class="fad fa-badge-check text-xs mr-1"></i>
                Tasks
              </a> -->
              <!-- End User Tasks -->

              <!-- User Chats -->
              <!-- <a
                style="text-decoration: none"
                class="px-4 text-black py-2 block capitalize font-medium text-sm tracking-wide bg-white hover:bg-gray-200 hover:text-gray-900 transition-all duration-300 ease-in-out"
                href="#"
              >
                <i class="fad fa-comment-alt-dots text-xs mr-1"></i>
                Chats
              </a> -->
              <!-- End User Chats -->

              <hr />

              <!-- Logout -->
              <a
                style="text-decoration: none"
                class="px-4 text-black py-2 block capitalize font-medium text-sm tracking-wide bg-white hover:bg-gray-200 hover:text-gray-900 transition-all duration-300 ease-in-out"
                href="logout_view"
              >
                <i class="fad fa-user-times text-xs mr-1"></i>
                Log out
              </a>
              <!-- End Logout -->
            </div>
          </div>
          <!-- End User Dropdown -->

          {% include 'notification.html' %}

          {% block headermenu %} {% endblock %}
          <!-- End Notification Dropdown -->
        </div>
        <!-- End Right -->
      </div>
      <!-- End Navbar Content -->
    </div>
    <!-- End Navbar -->

    <!-- Start Wrapper -->
    <div class="h-screen flex flex-row flex-wrap">
      <!-- Start Sidebar -->
      <div
        id="sideBar"
        class="relative flex flex-col flex-wrap bg-white border-r border-gray-300 p-6 flex-none w-64 md:-ml-64 md:fixed md:top-0 md:z-30 md:h-screen md:shadow-xl animated faster"
      >
        <!-- Sidebar content -->
        <div class="flex flex-col">
          <!-- Sidebar toggle -->
          <div class="text-right hidden md:block mb-4">
            <button id="sideBarHideBtn">
              <i class="fad fa-times-circle"></i>
            </button>
          </div>
          <!-- End Sidebar toggle -->

          <p class="uppercase text-xs text-gray-600 mb-4 tracking-wider">
            Homes
          </p>

          <!-- Sidebar Links -->
          <a
            style="text-decoration: none"
            href="{% url 'user_home' %}"
            class="mb-3 text-black capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500"
          >
            <i class="bi bi-currency-rupee"></i>
            Dashboard
          </a>
          <a
          style="text-decoration: none"
          href="{% url 'user_view_collection_shedule' %}"
          class="mb-3 text-black capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500"
        >
          <i class="bi bi-currency-rupee"></i>
          Collection Schedule
        </a>
          <a
            style="text-decoration: none"
            href="{% url 'payment_list' %}"
            class="mb-3 text-black capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500"
          >
            <i class="bi bi-currency-rupee"></i>
            Payment
          </a>
          <a
            style="text-decoration: none"
            href="{% url 'educational_content_view_user' %} "
            class="mb-3 text-black capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500"
          >
            <i class="bi bi-book"></i>
            Educational Resources
          </a>
          <a
            style="text-decoration: none"
            href="{% url 'payment_history' %}"
            class="mb-3 text-black capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500"
          >
            <i class="bi bi-clock-history"></i>
            Payment History
          </a>
          <!-- End Sidebar Links -->
        </div>
        <!-- End Sidebar content -->
      </div>
      <!-- End Sidebar -->

      <!-- Content -->
      <div class="flex-1 p-1">{% block content %} {% endblock %}</div>
      <!-- End Content -->
    </div>
    <!-- End Wrapper -->

    <!-- Script -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="{% static 'adminstatic/js/scripts.js' %}"></script>
    <!-- End Script -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
